name: Publish Python distributions to PyPI and TestPyPI

on:
  workflow_dispatch:

jobs:
    python-build-n-publish:
        name: Build and publish Python distribution
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Initialize Python 3.9
              uses: actions/setup-python@v4
              with:
                python-version: "3.11.5"

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
          
            - name: Build binary wheel and a source tarball
              run: python setup.py sdist

            - name: Publish distribution to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                username: __token__
                password: ${{ secrets.API_TOKEN }}
                #repository_url: https://upload.pypi.org/legacy/
